footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    
    bottom: 0;
    width: 100%;
}

.footer-section {
    display: inline-block;
    margin: 0 20px;
}

.footer-section h2 {
    margin-bottom: 0.5em;
}

.footer-section nav a {
    color: white;
    text-decoration: none;
    margin: 0 1em;
}


.social-icons {
    font-size: 28px;
    text-decoration: none;

}

 /* Icon colors */
.fa-facebook-official { color: #0f89da; } /* Blue */
.fa-instagram { color: #80164b; } /* Red */
.fa-twitter { color: rgb(7, 247, 235); } /* Green */


@media (max-width: 600px) {
    .footer-section {
        display: block;
        text-align: center;
        margin-bottom: 1em;
    }

    nav {
        margin-top: 0.5em;
    }


}